body{
    text-align: center;
}
li {
    float: left;
    list-style-type: none;
  margin: 0;
  padding: 0;
  }
  
  a {
    display: block;
    padding: 8px;
    background-color: #bbbbbb;
    color: white;
  }
#Title {
  
  background-color: #e11936;
}
#Ethics {
  text-align: center;
  size: 10%;
}
#EthicsContent{
  float: none;
}
#specialDeals {
  float: right;
  }
#carImage {
  float:left
}
#accGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }
  #store {
    background-color: #e11936;
  }
  h1 {
    text-align: center;
    transform: translateX(-70px);
  }
  #divider {
    background-color: green;
  }
  #carImage {
    background-color: none;
  }